<div class="nav navbar-nav col-sm-12">
    <div class="col-sm-1">
      <a type="button" class="btn btn-default panel-header-text"><i class="fa fa-home" aria-hidden="true"></i> {{title}}</a> 
    </div>    
    <div class="col-sm-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="col-sm-offset-1 col-sm-2 text-center ">
      <a type="button" class="btn btn-default panel-header-text no-border"><i class="fa fa-qrcode" aria-hidden="true"></i> Trello Board</a>        
    </div>   
    <div class="col-sm-offset-2 col-sm-3 text-right">        
      <a type="button" class="btn btn-default panel-header-text"><i class="fa fa-plus" aria-hidden="true"></i></a>                
      <a type="button" class="btn btn-default panel-header-text button-round"><i class="fa fa-bug" aria-hidden="true"></i></a> 
      <a type="button" class="btn btn-default panel-header-text"><i class="fa fa-info-circle" aria-hidden="true"></i></a>         
      <a type="button" class="btn btn-default panel-header-text"><i class="fa fa-bell-o" aria-hidden="true"></i></a>         
      <a type="button" class="btn btn-default panel-header-text"><i class="fa fa-cogs" aria-hidden="true"></i></a>          
    </div> 
</div>
<router-outlet>

</router-outlet>
